node_modules
node_modules/
tsconfig.json
vsc-extension-quickstart.md
*.vsix
.env
.vscode
.vscode/
.vscode/**
.vscode-test/**
test/
src/
out/main.js.map
/out
/node_modules
/.directory
/.vscode-test
dragonstone-lang-*.vsix
GRAMMAR_REVIEW.md
.dragonstone
