# 
#   .gitignore for Dragonstone.
#

# Ignore any Output/Build Files, Directories.
# and Notes.
.dragonstone
.dragonstone/
*.vsix
dragonstone-lang-*.vsix
/out
node_modules
node_modules/
/node_modules
out/main.js.map
package-lock.json
dist/
tsconfig.tsbuildinfo

# Ignore any Output/Build Cache from testing.
/.directory
/.vscode-test
cache
cache/
.cache
.cache/

# Ignore any IDE folders.
.idea
.env
.vscode
.vscode/
.vscode/**
.vscode-test/**

# Annoying IDE ignores.
.fake
